.NavAdmin nav {
    box-shadow: 1px 1px 5px black;
}

.NavAdmin p {
    font-family: var(--secondary-font);
    font-weight:600;
}

.NavAdmin a {
    color:unset;
}

.NavAdmin a:hover {
    color:var(--main-color) !important;
    text-decoration:none;
}

.NavAdmin .logout-icon{
    min-width: 78px;
}

.NavAdmin .logout:hover, .NavAdmin .user-profile:hover, .NavAdmin .user-profile:hover p, .NavAdmin .user-profile:hover path {
    color:lightgray !important;
    cursor: pointer;
    transition:.5s ease-in-out;
}

.NavAdmin .user-profile-menu{
    right:78px;
    width: calc(100vw - 78px);
    background-color: var(--light-color);
    border-bottom: 1px solid var(--main-color);
    transition:.5s ease-in-out;
    z-index:1;
}

.user-profile-close{
    transform : translateY(-100%);
    transition: .2s ease-in-out;
}