.ForgotPassword h1{
    font-family:var(--main-font);
    font-size:1.5em;
}
.ForgotPassword p {
    font-family: var(--secondary-font);
    font-weight:100;
}
.ForgotPassword .text-success {
    color: var(--main-color) !important;
    font-family:var(--main-font);
}
.ForgotPassword .text-danger {
    color:rgb(177, 75, 50) !important;
    font-family:var(--main-font);
}
.ForgotPassword.card{
    border: var(--spacing) var(--main-color) solid;
    box-shadow:1px 1px 20px var(--dark-color);
}
.ForgotPassword form label{
    font-family:var(--secondary-font);
}
.ForgotPassword form button, .ForgotPassword form a{
    border-color: var(--main-color);
}
.ForgotPassword form button:hover, .ForgotPassword form a:hover{
    background-color:var(--main-color);
}