.page-container{
    margin-top:50px;
}

.page-container h1{
    font-family: var(--main-font);
}

.page-container h2 {
    font-weight:600;
    color:var(--main-color);
    font-size:1.5em;
}

.page-container small, .page-container p , .page-container h2{
    font-family: var(--secondary-font);
}

.page-container p {
    font-weight: 400;
}

.page-container .text-success {
    color:var(--main-color) !important;
    font-family:var(--main-font) !important;
    font-style:italic;
}

.page-container .text-danger {
    color:rgb(177, 75, 50) !important;
    font-family:var(--main-font) !important;
    font-style:italic;
}

.page-container .form-control{
    color: #3d3f42cc;
    font-family:var(--secondary-font);
    font-style:italic;
}

.page-container .form-control[readonly]{
    background:#e9efec8f;
}

.home-admin, .update-admin, .create-admin, .gallery-admin, .archives-admin, .articles-admin {
    background: #e6e6e6;
    width:calc(100vw - 78px);
    margin-right:78px;
    min-height:calc(100vh - 50px);
    overflow-x: hidden;
}

.gallery-admin h2{
    font-weight:400;
    font-size:1.6em;
}
@media screen and (min-width : 992px){
    .home-admin0, .home-admin1, .home-admin2{
        width:calc(100%/3 - 8px) !important;
    }
    .home-admin3{
        width:calc(60% - 8px) !important;
    }
    .home-admin4{
        width:calc(40% - 8px) !important;
    }
}



