.page-container{
    margin-top:50px;
}

.page-container h1{
    font-family: var(--main-font);
}

.page-container h2 {
    font-family: var(--secondary-font);
    font-weight:600;
    color:var(--main-color);
    font-size:1.5em;
}

.page-container p {
    font-family: var(--secondary-font);
    font-weight: 400;
}

.home-admin, .update-admin {
    background: #e6e6e6;
    width:calc(100vw - 78px);
    margin-right:78px;
    min-height:calc(100vh - 50px);
}




