.access-container {
    background-color: var(--light-color);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.access-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: -2%;
}

.access-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.access-info p {
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 20px;
}

.bold-text {
    font-weight: 600;
}

.address, .bus {
    margin-bottom: var(--spacing);
}

.access-adress, .access-time {
    margin-bottom: var(--spacing-large);
}

.map-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.map-card iframe {
    border: 4px solid var(--main-color);
    width: 480px;
    height: 480px;
}

.map-card a {
    text-decoration: none;
    color: var(--dark-color);
}

.map-card a:hover {
    color: var(--main-color);
}

.map-card small {
    margin-top: var(--spacing);
}

@media screen and (min-width: 1061px) and (max-width: 1300px) {
    .access-info {
        height: 360px;
    }
    .access-info p {
        font-size: 16px;
    }
    .map-card iframe {
        width: 400px;
        height: 400px;
    }
    .access-adress, .access-time {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1060px) {
    .access-info {
        text-align: center;
        margin-bottom: var(--spacing-large);
    }
    .access-info p {
        font-size: 18px;
    }
    .map-card iframe {
        width: 400px;
        height: 400px;
    }
    .map-card {
        margin-bottom: calc(var(--spacing-large) * 2);
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .access-info {
        text-align: center;
        margin-top: var(--spacing-large);
    }
    .access-info p {
        font-size: 16px;
    }
    .map-card {
        margin: calc(var(--spacing-large) * 2) 0;
    }
    .map-card iframe {
        width: 360px;
        height: 360px;
    }
    .access-info {
        height: 360px;
    }
}

@media screen and (max-width: 414px) {
    .access-info {
        margin-top: var(--spacing-large);
    }
    .access-info p {
        text-align: center;
        font-size: var(--spacing-medium);
    }
    .map-card {
        margin: calc(var(--spacing-large) * 2) 0;
    }
    .map-card iframe {
        width: 300px;
        height: 300px;
    }
    .access-info {
        height: 320px;
    }
}