.partner-club {
    background-color: var(--light-color);
    width: 100%;
    min-height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: var(--spacing-large);
}

.partner-carousel {
    width: 90%;
    margin: 0 auto;
}

.react-multiple-carousel__arrow {
    outline: none !important;
    z-index: 1 !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(4% - 32px) !important;
}

.react-multiple-carousel__arrow--right {
    right: calc(4% - 32px) !important;
}

.slider-partner {
    display: flex;
    justify-content: space-around;
    padding-left: -200px;
}

.image-partner {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media screen and (max-width: 890px) {
    .react-multiple-carousel__arrow--left {
        left: calc(4% + 1px) !important;
    }
    .react-multiple-carousel__arrow--right {
        right: calc(4% + 1px) !important;
    }
}

@media screen and (min-width: 466px) and (max-width: 1060px) {
    .partner-club {
        padding-bottom: calc(var(--spacing-large) * 2);
    }
}

@media screen and (min-width: 665) and (max-width: 1024px) {
    .image-partner {
        width: 190px;
        height: 190px;
        object-fit: contain;
    }
}

@media screen and (max-width: 465px) {
    .image-partner {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }
    .partner-club {
        padding-bottom: var(--spacing-large);
    }
}