.NavbarContainer {
    background-color: var(--light-color);
    box-shadow: black 1px 1px 10px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 50;
}

.Logo {
    position: fixed;
    transition: ease-in-out 0.5s;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 1%;
}

.Logo.active {
    position: fixed;
    transition: ease-in-out 0.5s;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    left: 5%;
}

.NavbarResponsive, .menu-open, .menu-close {
    display: none;
}

.NavbarRightBox {
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.NavbarLeftBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-item-active {
    background-color: #497454;
}

.Nav-item-text-active {
    color: white !important;
}

.resp-nav-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2vh;
    animation: balle 4s linear infinite;
}

@keyframes balle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ball:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    left: -65%;
}

.ball:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;
    right: -65%;
}

.shadow {
    position: absolute;
	width: 20px;
	height: 8px;
	background: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform: translateY(-40%);
	overflow: hidden;
	filter: blur(2px);
	z-index: -1;
}

.NavbarClub, .NavbarLearn, .NavbarCompet, .NavbarPara, .NavbarHome {
    text-decoration: none;
    color: var(--main-color);
    font-size: calc(var(--spacing) *3);
    padding: var(--spacing-large);
    margin-left: 2%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.NavbarClub:hover, .NavbarLearn:hover, .NavbarCompet:hover, .NavbarPara:hover, .NavbarHome:hover {
    color: #497454;
    text-decoration: none;
}

.NavbarAdmin {
    text-decoration: none;
    color: var(--main-color);
    font-size: calc(var(--spacing) *3);
    padding: var(--spacing-large);
    margin-right: 3%;
    margin-left: 2%;
}

.NavbarAdmin:hover {
    color: var(--light-color);
    font-size: calc(var(--spacing) *3);
    background-color: var(--main-color);
    transform: skew( -10deg);
}

.club-open, .ens-open, .comp-open, .para-open {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 68px;
    background-color: var(--main-color);
    min-width: 280px;
}

.club-close, .ens-close, .comp-close, .para-close {
    display: none;
}

.NavLinks {
    text-decoration: none;
    color: var(--light-color)!important;
    background-color: var(--main-color);
    padding: 15px;
    font-size: calc(var(--spacing) *2.4);
}

.NavLinks:hover {
    background-color: #497454;
    text-decoration: none;
}

.NavbarRightBox hr {
    height: 2px;
    color: white;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .NavbarContainer {
        background-color: var(--light-color);
        box-shadow: black 1px 1px 10px;
        position: fixed;
        width: 100%;
        display: flex;
        min-height: 6vh;
        justify-content: space-between;
        z-index: 50;
    }
    .Logo {
        position: fixed;
        transition: ease-in-out 0.5s;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        left: 5%;
    }
    .Logo.active {
        position: fixed;
        transition: ease-in-out 0.5s;
        width: 112px;
        height: 112px;
        border-radius: 50%;
        left: 5%;
    }
    .NavbarResponsive, .menu-open, .menu-close {
        display: none;
    }
    .NavbarRightBox {
        display: flex;
        justify-content: flex-end;
        z-index: 100;
    }
    .NavbarLeftBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .NavbarHome {
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        margin-right: 16px;
        padding-top: 18px;
    }
    .NavbarClub, .NavbarLearn, .NavbarCompet, .NavbarPara {
        text-decoration: none;
        color: var(--main-color);
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        padding-top: 18px;
        margin-left: 2%;
        display: flex;
        justify-content: center;
        margin-right: 16px;
    }
    .NavbarClub:hover, .NavbarLearn:hover, .NavbarCompet:hover, .NavbarPara:hover {
        color: #497454;
    }
    .NavbarAdmin {
        text-decoration: none;
        color: var(--main-color);
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        margin-right: 3%;
        margin-left: 2%;
        margin-right: 16px;
        padding-top: 18px;
    }
    .NavbarAdmin:hover {
        color: var(--light-color);
        font-size: calc(var(--spacing) *2);
        background-color: var(--main-color);
        transform: skew( -10deg);
    }
    .club-open, .ens-open, .comp-open, .para-open {
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        background-color: var(--main-color);
        min-width: 224px;
    }
    .club-close, .ens-close, .comp-close, .para-close {
        display: none;
    }
    .NavLinks {
        text-decoration: none;
        color: var(--light-color);
        background-color: var(--main-color);
        padding: 16px;
        font-size: calc(var(--spacing) *2);
    }
    .NavLinks:hover {
        background-color: #497454;
    }
    .NavbarRightBox hr {
        height: 2px;
        color: white;
        background-color: white;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 930px) {
    .NavbarContainer {
        display: none;
    }
    .NavbarResponsive {
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: black 1px 1px 10px;
        position: fixed;
        min-width: 100%;
        background-color: white;
        min-height: 8vh;
    }
    .LogoResp {
        position: fixed;
        top: 1vh;
        height: 6vh;
        width: 6vh;
        margin-left: 24px;
    }
    .NavbarMenu-Burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vh;
        margin-bottom: 2vh;
        margin-right: 5vw;
        cursor: pointer;
    }
    .NavbarMenu-Burger span {
        display: flex;
        background-color: var(--main-color);
        height: 3px;
        width: 30px;
        margin-bottom: 6px;
    }
    .menu-open {
        z-index: 200;
        overflow: scroll !important;
        display: flex;
        flex-direction: column;
        justify-content: top;
        background-color: white;
        text-align: right;
        padding-right: 4vh;
        padding-top: 5vh;
        font-size: 25px;
        width: 50%;
        height: 100vh;
        position: fixed;
        right: 0;
        box-shadow: black 1px 1px 10px;
        transition: all 0.5s ease-in-out;
        animation-name: transitionOpen;
        animation-duration: 1s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    @keyframes transitionOpen {
        0% {
            transform: translate(100%, 0);
        }
        50% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
    .HomeResponsive, .ClubResp, .EnsResp, .CompResp, .ParaResp {
        cursor: pointer;
        color: var(--main-color);
        padding-bottom: 2.4vh;
    }
    .CrossContainer {
        padding-bottom: 4vh;
        margin-top: -4%;
    }
    .Cross {
        color: var(--main-color);
        position: relative;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        font-size: 72%;
    }
    .RespLinksClubContainerOpen, .RespLinksEnsContainerOpen, .RespLinksCompContainerOpen, .RespLinksParaContainerOpen {
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    .RespLinksClubContainerClose, .RespLinksEnsContainerClose, .RespLinksCompContainerClose, .RespLinksParaContainerClose {
        display: none;
    }
    .RespLinksClub, .RespLinksComp, .RespLinksEns, .RespLinksPara {
        text-decoration: none;
        color: var(--main-color);
        font-size: 65%;
        margin: -4px 0;
    }
    .RespLinksClub:focus, .RespLinksClub:hover, .RespLinksClub:visited, .RespLinksClub:link, .RespLinksClub:active, .RespLinksEns:focus, .RespLinksEns:hover, .RespLinksEns:visited, .RespLinksEns:link, .RespLinksEns:active, .RespLinksComp:focus, .RespLinksComp:hover, .RespLinksComp:visited, .RespLinksComp:link, .RespLinksComp:active, .RespLinksPara:focus, .RespLinksPara:hover, .RespLinksPara:visited, .RespLinksPara:link, .RespLinksPara:active {
        text-decoration: none;
        color: var(--main-color);
    }
    .AdminResp {
        text-decoration: none;
        color: var(--main-color);
        padding-top: 16%;
    }
    .HomeResponsive:focus, .HomeResponsive:hover, .HomeResponsive:visited, .HomeResponsive:link, .HomeResponsive:active, .AdminResp:focus, .AdminResp:hover, .AdminResp:visited, .AdminResp:link, .AdminResp:active {
        text-decoration: none;
        color: var(--main-color);
    }
    .menu-open hr {
        margin-left: 32px;
    }
}

@media screen and (max-width: 580px) {
    .menu-open {
        width: 64%;
    }
}

@media screen and (max-width: 480px) {
    .menu-open {
        width: 80%;
    }
}