
.NavbarContainer {
    background-color: var(--light-color);
    box-shadow: black 1px 1px 10px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 50;
}

.Logo{
    position: fixed;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    left: 5%;
}

.NavbarResponsive{
    display: none;
}

.menu-close{
    display: none;
}

.menu-open{
    display: none;
}

.NavbarRightBox {
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.NavbarLeftBox{
   display: flex;
   justify-content: center;
   align-items: center;
}

.NavbarHome{
    text-decoration: none;
    color: var(--light-color) ;
    font-size: calc(var(--spacing) *3);
    padding: var(--spacing-large);
    background-color: var(--main-color);
    transform: skew( -10deg);
}

.NavbarHome:hover{
    background-color: #497454;
    color:var(--light-color);
}

.NavbarClub, .NavbarLearn, .NavbarCompet, .NavbarPara{
    text-decoration: none;
    color: var(--main-color) ;
    font-size: calc(var(--spacing) *3);
    padding: var(--spacing-large);
    margin-left: 2%;
    display: flex;
    justify-content: center;
    cursor:pointer;
}

.NavbarClub:hover, .NavbarLearn:hover, .NavbarCompet:hover, .NavbarPara:hover{
    color: #497454;
}

.NavbarAdmin{
    text-decoration: none;
    color: var(--main-color) ;
    font-size: calc(var(--spacing) *3);
    padding: var(--spacing-large); 
    margin-right:3%;
    margin-left: 2%;
    
}

.NavbarAdmin:hover{
    color: var(--light-color) ;
    font-size: calc(var(--spacing) *3);
    background-color: var(--main-color);
    transform: skew( -10deg);
}

.club-open{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    background-color: var(--main-color);
    min-width: 250px;
}

.club-close {
    display: none;
}

.ens-open{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    background-color: var(--main-color);
    min-width: 250px;   
}

.ens-close {
    display: none;
}

.comp-open{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    background-color: var(--main-color);
    min-width: 250px;    
}

.comp-close{
    display: none;
}

.para-open{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    background-color: var(--main-color); 
    min-width: 250px;    
}

.para-close{
    display: none;
}

.NavLinks{
    text-decoration: none;
    color: var(--light-color)!important;
    background-color: var(--main-color);
    padding: 15px;
    font-size: calc(var(--spacing) *2.4);    
}

.NavLinks:hover{
    background-color: #497454;
}

.NavbarRightBox hr{
    height: 2px;
    color: white;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .NavbarContainer {
        background-color: var(--light-color);
        box-shadow: black 1px 1px 10px;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 50;
    }
    
    .Logo{
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 5%;
    }
    
    .NavbarResponsive{
        display: none;
    }
    
    .menu-close{
        display: none;
    }
    
    .menu-open{
        display: none;
    }
    
    .NavbarRightBox {
        display: flex;
        justify-content: flex-end;
        z-index: 100;
    }
    
    .NavbarLeftBox{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    .NavbarHome{
        text-decoration: none;
        color: var(--light-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        background-color: var(--main-color);
        transform: skew( -10deg);
    }
    
    .NavbarHome:hover{
        background-color: #497454;
    }
    
    .NavbarClub {
        text-decoration: none;
        color: var(--main-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        margin-left: 2%;
        display: flex;
        justify-content: center;
    }
    
    .NavbarClub:hover{
        color: #497454;
    }
    
    .NavbarLearn {
        text-decoration: none;
        color: var(--main-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        display: flex;
        justify-content: center;
        margin-left: 2%;
    }
    
    .NavbarLearn:hover{
        color: #497454;
    }
    
    .NavbarCompet{
        text-decoration: none;
        color: var(--main-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        display: flex;
        justify-content: center;
        margin-left: 2%;
    }
    
    .NavbarCompet:hover{
        color: #497454;
    }
    
    .NavbarPara {
        text-decoration: none;
        color: var(--main-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium);
        display: flex;
        justify-content: center;
        margin-left: 2%;
    }
    
    .NavbarPara:hover {
        color: #497454;
    }
    
    .NavbarAdmin{
        text-decoration: none;
        color: var(--main-color) ;
        font-size: calc(var(--spacing) *2);
        padding: var(--spacing-medium); 
        margin-right:3%;
        margin-left: 2%;    
    }
    
    .NavbarAdmin:hover{
        color: var(--light-color) ;
        font-size: calc(var(--spacing) *2);
        background-color: var(--main-color);
        transform: skew( -10deg);
    }
    
    .club-open{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 36px;
        background-color: var(--main-color);
        min-width: 150px;
    }
    
    .club-close {
        display: none;
    }
    
    .ens-open{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 36px;
        background-color: var(--main-color);
        min-width: 150px;   
    }
    
    .ens-close {
        display: none;
    }
    
    .comp-open{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 36px;
        background-color: var(--main-color);
        min-width: 150px;
    }
    
    .comp-close{
        display: none;
    }
    
    .para-open{
        display: flex;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 36px;
        background-color: var(--main-color); 
        min-width: 150px;      
    }
    
    .para-close{
        display: none;
    }
    
    .NavLinks{
        text-decoration: none;
        color: var(--light-color);
        background-color: var(--main-color);
        padding: 15px;
        font-size: calc(var(--spacing) *2); 
        
    }
    
    .NavLinks:hover{
        background-color: #497454;
    }
    
    .NavbarRightBox hr{
        height: 2px;
        color: white;
        background-color: white;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .Logo{
        display: none;
    }
    
    .NavbarContainer{
        display: none;
    }
    
    .NavbarResponsive{
        z-index: 100;
        display: flex;
        justify-content: space-between;
        box-shadow: black 1px 1px 10px;
        position: fixed;
        min-width: 100%;
        background-color: white;
    }
    
    .LogoResp{
        position: fixed;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        left: 40%;
    }
    
    .NavbarMenu-Burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vh;
        margin-bottom: 2vh;
        margin-right: 5vw;    
    }
    
    .NavbarMenu-Burger span{
        display: flex;
        background-color: var(--main-color);
        height: 3px;
        width : 30px;
        margin-bottom: 0.3em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    
   .menu-open{
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: top;
        background-color: white;
        text-align: right;
        padding-right: 5vh;
        padding-top: 5vh;
        font-size: 30px;
        width: 40%;
        height: 200vh;
        position: absolute;
        right: 0;
        box-shadow:  black 1px 1px 10px;   
        animation-name: transitionOpen;
        animation-duration: 1s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
   }

@keyframes transitionOpen {
    0% {
      transform: translate(100%,0);
    }
    50% {
      transform: translate(0%,0%);
    }
    100% {
      transform: translate(0%,0%);
    }
  }

   .menu-close{
       animation-name: transitionClose;
        animation-duration: 0.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
        display: none;
   }
    
   @keyframes transitionClose {
    0% {
      transform: translate(0%,0);
    }
    50% {
      transform: translate(100%,0%);
    }
    100% {
      transform: translate(0%,0%);
    }
  }
    
   .HomeResponsive{
       text-decoration: none;
       color: var(--main-color);
       padding-bottom: 3vh ;
   }

   .HomeResponsive:hover{
       color: var(--main-color);
   }
   
   .ClubResp{
       cursor: pointer;
       color: var(--main-color);
       padding-bottom: 3vh ;
   }
    
   .EnsResp{
    cursor: pointer;
    color: var(--main-color); 
    padding-bottom: 3vh ;
   }
    
   .CompResp{
    cursor: pointer;
    color:var(--main-color);
    padding-bottom: 3vh ;
   }
    
   .ParaResp{
    cursor: pointer;
    color: var(--main-color);
    padding-bottom: 3vh ;
   }
    
   .CrossContainer{
    padding-bottom: 6vh ;
   }
    
   .Cross{
       color: var(--main-color);
       position: relative;
       transition: all 0.5s ease-in-out;
       cursor: pointer;
       font-size: 80%;
   }
    
   .RespLinksClub{
       text-decoration: none;
       color: var(--main-color);
       font-size: 70%;
       padding: 1vh;   
   }

   .RespLinksClub:hover, .RespLinksEns:hover, .RespLinksComp:hover, .RespLinksPara:hover{
       color:var(--main-color);
   }
    
   .RespLinksClubContainerClose{
       display: none;
   }
    
   .RespLinksClubContainerOpen{
       display: flex;
       flex-direction: column;
       padding-top: 1vh;
       animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
   }
    
   .AdminResp{
       text-decoration: none;
       color: var(--main-color);
       padding-top: 20%;
   }
    
   .RespLinksEns{
        text-decoration: none;
        color: var(--main-color);
        font-size: 70%;
        padding: 1vh;
    }
    
    .RespLinksEnsContainerClose{
        display: none;
    }
    
    .RespLinksEnsContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    
    .RespLinksComp{
        text-decoration: none;
        color: var(--main-color);
        font-size: 70%;
        padding: 1vh;
        
    }
    
    .RespLinksCompContainerClose{
        display: none;
    }
    
    .RespLinksCompContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 0.5vh;
        animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
    
    .RespLinksPara{
        text-decoration: none;
        color: var(--main-color);
        font-size: 70%;
        padding: 1vh;
        
    }
    
    .RespLinksParaContainerClose{
        display: none;
    }
    
    .RespLinksParaContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 0.5vh;
        animation-name: transitionOpen;
        animation-duration: 1.5s;
        animation-iteration-count: inherit;
        animation-fill-mode: backwards;
    }
}

@media screen and (max-width: 767px) {
    .NavbarContainer{
        display: none;
    }
    
    .NavbarResponsive{
        z-index: 100;
        display: flex;
        justify-content: space-between;
        box-shadow: black 1px 1px 10px;
        position: fixed;
        min-width: 100%;
        background-color: white;
    }
    
    .LogoResp{
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 37%;
    }
    
    .NavbarMenu-Burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vh;
        margin-bottom: 2vh;
        margin-right: 5vw;
        
    }
    
    .NavbarMenu-Burger span{
        display: flex;
        background-color: var(--main-color);
        height: 3px;
        width : 30px;
        margin-bottom: 0.3em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    
   .menu-open{
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: top;
        background-color: white;
        text-align: right;
        padding-right: 5vh;
        padding-top: 5vh;
        font-size: 30px;
        width: 80%;
        height: 200vh;
        position: absolute;
        right: 0;
        box-shadow:  black 1px 1px 10px; 
        transition: all 0.5s ease-in-out;
   }

   .menu-close{
       display: none;
       transition: all 0.5s ease-in-out;
   }
    
   .HomeResponsive{
       text-decoration: none;
       color: var(--main-color);
       padding-bottom: 3vh ;
   }
    
   .ClubResp{
       cursor: pointer;
       color: var(--main-color);
       padding-bottom: 3vh ;
   }
    
   .EnsResp{
        cursor: pointer;
        color: var(--main-color);
        padding-bottom: 3vh ;
   }
    
   .CompResp{
        cursor: pointer;
        color: var(--main-color);
        padding-bottom: 3vh ;
   }
    
   .ParaResp{
        cursor: pointer;
        color: var(--main-color);
        padding-bottom: 3vh ;
   }
    
   .CrossContainer{
        padding-bottom: 6vh ;
   }
    
   .Cross{
       color: var(--main-color);
       position: relative;
       transition: all 0.5s ease-in-out;
       cursor: pointer;
       font-size: 80%;
   }
    
   .RespLinksClub{
       text-decoration: none;
       color: var(--main-color);
       font-size: 70%;
       padding: 1vh;
   }
    
   .RespLinksClubContainerClose{
       display: none;
   }
    
   .RespLinksClubContainerOpen{
       display: flex;
       flex-direction: column;
       padding-top: 1vh;
   }
    
   .AdminResp{
       text-decoration: none;
       color: var(--main-color);
       padding-top: 20%;
   }
    
   .RespLinksEns{
        text-decoration: none;
        color: var(--main-color);
        font-size: 70%;
        padding: 1vh;
    }
    
    .RespLinksEnsContainerClose{
        display: none;
    }
    
    .RespLinksEnsContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
    }
    
    .RespLinksComp{
        text-decoration: none;
        color: var(--main-color);
        font-size: 70%;
        padding: 1vh;
    }
    
    .RespLinksCompContainerClose{
        display: none;
    }
    
    .RespLinksCompContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 0.5vh;
    }
    
    .RespLinksPara{
        text-decoration: none;
        color:var(--main-color);
        font-size: 70%;
        padding: 1vh;  
    }
    
    .RespLinksParaContainerClose{
        display: none;
    }
    
    .RespLinksParaContainerOpen{
        display: flex;
        flex-direction: column;
        padding-top: 0.5vh;
    }
}