.meteo {
    background-color: var(--main-color);
    min-height: 10vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #f8f8f8;
}

.meteo-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 320px;
    margin: 0 auto;
}

.meteo-info .meteo-name, .meteo-info .meteo-temp {
    margin-bottom: 0px !important;
    text-align: center;
    width: 80px;
}

.meteo-info img {
    object-fit: cover;
    height: 80px;
}

@media screen and (min-width: 516px) and (max-width: 768px) {
    .meteo {
        min-height: 9vh;
        font-size: 28px;
    }
    .meteo-info img {
        object-fit: cover;
        height: 72px;
    }
}

@media screen and (max-width: 515px) {
    .meteo {
        min-height: 8vh;
        font-size: 24px;
    }
    .meteo-info img {
        object-fit: cover;
        height: 64px;
    }
    .meteo-info .meteo-name, .meteo-info .meteo-temp {
        width: 64px;
    }
}