.teaching_team {
    padding-top: 60px;
    min-height:200px;
    background-color:white;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
} 

picture-teacher-team {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.name-text {
    color: var(--main-color);;
}

.card-team {
    border-spacing: 10px;
}

.text-speciality {
    font-size: 16px;
}

.card-teacher {
    padding: 10px;
}